<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>release.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
				<key>dateExpires</key>
				<string>2023/12/04</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>7.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_calendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_timezone.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>launch_review.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD398B7C2BEB20BA43316F7AFCB0199174C12CF2</string>
						<key>dateExpires</key>
						<string>2023/12/04</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KB6WQSY374</string>
						<key>name</key>
						<string>kazaki yanagisawa</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KB6WQSY374.game-release</string>
				<key>com.apple.developer.team-identifier</key>
				<string>KB6WQSY374</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f14879c6-5325-419c-b7a8-e6f0fe1a2a8c</string>
				<key>dateExpires</key>
				<string>2023/12/04</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KB6WQSY374</string>
				<key>name</key>
				<string>kazaki yanagisawa</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
